/*GENERAL*/

*{
    margin: 0;
    padding: 0;
}

body{
   color: white;
   background-color: #052984;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%230d0a70' fill-opacity='0.74' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
       color: white;
}
html{
    scroll-behavior: smooth;
}


/*TRANSITION*/

a, .btn{
    transition: all 300ms ease;
 
}

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: rgb(179, 170, 170);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(179, 170, 170);
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.logo:hover{
    cursor: default;
}
/*HAMBURGER MENU*/

#hamburger-nav{ 
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg); translate: (5px, 3px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg); translate: (5px, -3px);
}


.hamburger-icon span:first-child{
    transform: 0;
}

.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: 0;
}

/*SECTION*/
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}
/* PROFILE SECTION*/

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_pic_container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.section_text{
    align-self: center;
    text-align: center;
}

.pic{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.section_text p{
    font-weight: 600;
}
.section_text_p1{
    text-align: center;
}

.section_text_p2{
    font-size: 1.75em;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1em;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*ICON*/

.icon{
    cursor: pointer;
    height: 2rem;
}

/*BUTTONS*/

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2{
    border: white 0.1rem solid;
    background-color: black;
    color: white;
}

.btn-color-1:hover, .btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover{
    background: black;
    color: white;
}

.btn-color-1:hover{
    background: transparent;
    border: white 0.1rem solid;

}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border: white 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}

/*ABOUT SECTON*/

#about{
    position: relative;
}

.about-containers{
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-containers, .about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.details-container{
    padding: 1em;
    flex: 1;
    background: transparent;
    border-radius: 2rem;
    border: white 0.5rem solid;
    border-color: white;
    text-align: center;
    font-size: 2rem;
}
.section-container{
    gap: 4rem;
    height: 80%;
}
.section_pic_container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/*EXPERIENCE SECTION*/

#experience{
    position: relative;
}

.experience-sub-title{
    color: white;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

/* PROJECS SECTION*/

#projects{
    position: relative;
}
.color-contaier{
    background: transparent;
    border-color: white;
}
.project-img{
    border-radius: 2rem;
    width: 80%;
    height: 80%;
}
.project-title{
    margin: 1rem;
    color: white;
}
.bttn{
    border: white 0.1rem solid;
    color: white;
}

/*CONTACT*/

#contacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: #052984 0.1rem solid;
    border-color: white;
    background: transparent;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}
.contact-icon{
    cursor: default;
}
.email-icon{
    height: 2.5rem;
}

/*FOOTER*/

footer{
    height: 26vh;
    margin: 0 1rem;
}
footer p{
    text-align: center;
}